@import "../../styles/colors.scss";
@import "../../styles/variables.scss";

.header {
  margin-top: 10px;
  margin-bottom: 40px;
  text-align: center;
}
.block {
  display: flex;
  justify-content: space-between;
}

.loginBlock {
  @media (min-width: 1280px) {
    display: flex;
  }
}

.button {
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.logo {
  font-family: $logo-font;
  font-style: normal;
  font-size: 26px;
  line-height: 1.5;
  letter-spacing: 1px;
  color: $main-text;
  text-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  @media (min-width: 1280px) {
    font-size: 32px;
  }
}

.login {
  display: none;
  @media (min-width: 1280px) {
    display: block;
    font-family: $main-font;
    font-style: normal;
    font-size: 24px;
    line-height: 1.5;
    letter-spacing: 1px;
    color: $main-text;

    text-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  }
}

.line {
  display: none;
  @media (min-width: 1280px) {
    dsiplay: block;
    font-family: $main-font;
    font-style: normal;
    font-size: 24px;
    color: $main-text;
    margin-right: 10px;
    margin-left: 10px;
  }
}
