@import "../../../styles/colors.scss";
@import "../../../styles/variables.scss";

.wrapper {
  display: flex;
  margin-bottom: 20px;
}

.posterWrapper {
  position: relative;
  margin-right: 30px;
  margin-bottom: 0;
}

.image {
  max-width: 180px;
  height: 300px;
  border-radius: 2px;
  object-fit: cover;
}
.sideBox {
  text-align: left;
  background: url("../../../styles/icons/rolls-mobile.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
.infoWrapper {
  margin-left: 10px;
}

.description {
  text-align: left;
}

.movieTitle {
  margin-bottom: 20px;
  text-align: left;
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
  letter-spacing: 0.03em;

  color: $main-text;
}
.infoYear {
  margin-top: 0;
  margin-bottom: 10px;
  font-family: $numbers-font;
  font-size: 20px;
  color: $add-text;
}
.infoScore {
  font-family: $numbers-font;
  font-size: 28px;
}
.overlayScore {
  position: absolute;

  right: 15px;
  top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  margin-bottom: 10px;
  border-radius: 5px;
  width: 40px;
  height: 40px;

  background-color: rgba(49, 50, 60, 0.696);
}

.info {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 18px;
  color: $main-text;
}

.title {
  margin-top: 0;
  font-weight: 600;
  letter-spacing: 0.1em;
  color: $main-text;
}

.item {
  color: $add-text;
  display: inline-block;
}

.genre li:not(:last-child)::after {
  content: ",";
  margin-right: 5px;
}

.submenu {
  display: flex;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 0;
  padding: 30px 0;
}

.submenuItem {
  margin-right: 24px;
  font-weight: 500;
  font-size: 18px;
  color: #161515;
}

.activeSubmenuItem {
  color: #2196f3;
}

.btn {
  padding: 5px 20px;
  margin-bottom: 20px;
  background-color: #fff;
  border: none;
  font-size: 16px;
  border-radius: 2px;
}

.youBtn {
  padding: 0;
  border: none;
  outline: none;
  background: transparent;
  transition: all 0.4s ease-in-out;
  width: 40px;
  height: 40px;
  margin-bottom: 40px;
  &:hover {
    transform: scale(1.1);
  }
}
