@import "../../styles/colors.scss";
@import "../../styles/variables.scss";

.button {
  position: relative;
  display: inline-block;
  border-color: transparent;
  background: transparent;
  padding: 10px 20px;
  color: $main-text;
  font-size: 16px;
  text-decoration: none;

  overflow: hidden;
  transition: 0.5s;
  margin-top: 50px;
  margin-bottom: 30px;
  letter-spacing: 2px;
  transition: 0.7s cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background: $main-text;
    color: $white;
    border-radius: 5px;
    box-shadow: 0 0 5px $main-text, 0 0 25px $main-text, 0 0 50px $main-text,
      0 0 100px $main-text;
  }
}

.button span {
  position: absolute;
  display: block;
}
.button span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, $main-text);
  animation: button-anim1 1s linear infinite;
}

@keyframes button-anim1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}

.button span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, $main-text);
  animation: button-anim2 1s linear infinite;
  animation-delay: 0.25s;
}

@keyframes button-anim2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}

.button span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, $main-text);
  animation: button-anim3 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes button-anim3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

.button span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, $main-text);
  animation: button-anim4 1s linear infinite;
  animation-delay: 0.75s;
}

@keyframes button-anim4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}

// .button {
//   padding: 0.6em 2em;
//   border: none;
//   outline: none;
//   color: rgb(255, 255, 255);
//   background: $main-text;
//   cursor: pointer;
//   position: relative;
//   z-index: 0;
//   border-radius: 10px;
//   user-select: none;
//   -webkit-user-select: none;
//   touch-action: manipulation;
// }

// .button:before {
//   content: "";
//   background: linear-gradient(
//     45deg,
//     #ff0000,
//     #ff7300,
//     #fffb00,
//     #48ff00,
//     #00ffd5,
//     #002bff,
//     #7a00ff,
//     #ff00c8,
//     #ff0000
//   );
//   position: absolute;
//   top: -2px;
//   left: -2px;
//   background-size: 400%;
//   z-index: -1;
//   filter: blur(5px);
//   -webkit-filter: blur(5px);
//   width: calc(100% + 4px);
//   height: calc(100% + 4px);
//   animation: glowing-button 20s linear infinite;
//   transition: opacity 0.3s ease-in-out;
//   border-radius: 10px;
// }

// @keyframes glowing-button {
//   0% {
//     background-position: 0 0;
//   }
//   50% {
//     background-position: 400% 0;
//   }
//   100% {
//     background-position: 0 0;
//   }
// }

// .button:after {
//   z-index: -1;
//   content: "";
//   position: absolute;
//   width: 100%;
//   height: 100%;
//   background: #222;
//   left: 0;
//   top: 0;
//   border-radius: 10px;
// }
