@import "../../styles/colors.scss";
@import "../../styles/variables.scss";

.wrapper {
  padding: 40px 0;
}

.upperNav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  text-shadow: $title-text-shadow;
}

.link {
  font-weight: 700;
  font-size: 18px;
  color: $red;
  transition: letter-spacing 250ms $cubic;

  &:hover {
    letter-spacing: 1.5px;
  }
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.item {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  text-align: center;
  width: 220px;
  height: 320px;
  box-shadow: $secondary-box-shadow;
  transition: scale 500ms ease-in;

  &:hover,
  &:focus {
    scale: (1.08);
  }

  &:hover .movieTitleOverlay,
  &:focus .movieTitleOverlay {
    opacity: 0;
  }
  &:hover .overlay,
  &:focus .overlay {
    opacity: 1;
  }
}

.overlay {
  position: absolute;
  z-index: 33;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.8);
  transition: opacity 500ms ease-in;
  &::before {
    position: absolute;
    left: 0;
    display: inline-block;
    content: " ";
    width: 4px;
    height: 100%;
    background-color: $red;
  }
}

.overlayVote {
  position: absolute;
  top: 20px;
  right: 20px;
  font-family: $numbers-font;
  font-size: 18px;
}

.overlayTitle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 700;
  font-size: 24px;
  text-shadow: $title-text-shadow;
}

.image {
  display: block;
  height: 100%;
  width: 100%;
}

.movieTitleOverlay {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 5px;
  min-height: 60px;
  bottom: 0;
  opacity: 1;
  background-color: rgba(49, 50, 60, 0.647);
  cursor: pointer;

  transition: opacity 500ms ease-in;
}

.movieTitle {
  text-shadow: $title-text-shadow;
}
