.Modal__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.Modal__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 450px;
  max-width: 320px;
  width: 100%;
  padding: 12px;
  background-color: #fff;
  border-radius: 20px;
  border: 2px solid #ffab9d;
  box-shadow: rgba(255, 116, 92, 0.19) 0px 14px 28px,
    rgba(251, 83, 61, 0.23) 0px 10px 10px;

  background: linear-gradient(90deg, #5d54a4, #7c78b8);
}

.Modal__button {
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
  height: 30px;
  margin: 8px 8px;
  padding: 10;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: grey;
  background-color: white;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus,
  &:active {
    outline: none;
    border: 1px solid #ffab9d;
    color: #ffab9d;
  }
}
