$main-bg: #141414;
$bg-color: #e7eaf2;
$header-bg-color: #14141480;
$footer-bg-color: #191919;
$modal-bg: rgba(0, 0, 0, 0.25);

$main-text: #d1d0cf;
$sec-text: #ffcab0;
$add-text: #9896f1;
$temp-text: rgb(169, 169, 169);
$white: #ffffff;
$red: #e50914;

$hover-color: #bf000a;
