@import "./colors.scss";
@import "./variables.scss";

html,
body {
  height: 100vh;
}
body {
  background: $main-bg;
  margin: 0;
  padding: 0;
  font-family: $main-font;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

main {
  min-height: calc(100vh - 120px);
}

ul {
  list-style: none;
}

a {
  color: $main-text;
  text-decoration: none;
}

ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
