@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap");

$main-font: "Nunito", sans-serif;
$logo-font: "Kalam", cursive;
$numbers-font: "Kdam Thmor Pro", sans-serif;

$mobile: 375px;
$tablet: 768px;
$desktop: 1280px;

$max-mobile: 767px;
$max-tablet: 1279px;

// Transition Prop
$cubic: cubic-bezier(0.4, 0, 0.2, 1);

// Text-Box Shadows
$title-text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.3),
  0px -4px 10px rgba(255, 255, 255, 0.3);

$main-box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
  rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
$secondary-box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
  rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
