@import "../../styles/colors.scss";
@import "../../styles/variables.scss";

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 16px 0;
  transition: all 0.3s ease;
  background-color: $header-bg-color;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-family: $logo-font;
  font-weight: 700;
  font-size: 42px;
  line-height: 1;

  color: $red;
}

.navList {
  display: flex;
}

.navItem:not(:last-child) {
  margin-right: 56px;
}

.navLink {
  padding: 20px 0;
  font-size: 18px;
  font-weight: 600;

  transition: color 250ms $cubic;
  &:focus,
  &:hover {
    color: $hover-color;
  }
}

.loginBlock {
  display: flex;
  align-items: center;
}

.login {
  display: none;
  @media (min-width: 1280px) {
    display: block;
    font-family: $main-font;
    font-style: normal;
    font-size: 24px;
    line-height: 1.5;
    letter-spacing: 1px;
    color: $main-text;

    text-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  }
}

// Footer

.footer {
  padding: 40px 0;
  background-color: $footer-bg-color;
}

.footerWrapper {
  display: flex;
}

.footerLinks {
  width: 500px;
}

.footerLinksList {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.footerLinksLink {
  font-size: 16px;
  transition: color 250ms $cubic;
  &:hover {
    color: $hover-color;
  }
}

.rights {
  font-size: 14px;
}

.title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 18px;
}

.footerSocials {
  margin-left: 150px;
}

.footerSocialsList {
  display: flex;
}

.footerSocialsItem {
  &:not(:last-child) {
    margin-right: 20px;
  }
}

.footerSocialsLink {
  width: 42px;
  height: 42px;
  background-color: rgba(41, 41, 41, 0.76);
  border-radius: 50%;
  box-shadow: $secondary-box-shadow;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: box-shadow 250ms $cubic;
  color: $main-text;

  &:hover {
    box-shadow: 0 0 0.625em $hover-color;
  }

  &:hover .icon {
    color: $hover-color;
  }
}

.icon {
  fill: currentColor;
  transition: color 250ms $cubic;
}

.footerStore {
  margin-left: auto;
}

.footerStoreList {
  display: flex;
}

.footerStoreItem:not(:last-child) {
  margin-right: 10px;
}
