@import "../../styles/colors.scss";
@import "../../styles/variables.scss";

.header {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  text-align: center;

  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  @media (min-width: 1280px) {
    margin-bottom: 40px;
  }
}
.navbar {
  display: flex;
  justify-content: space-between;
}

.loginBlock {
  display: flex;
  @media (min-width: 1280px) {
    align-items: center;
  }
}

.logo {
  font-family: $logo-font;
  font-style: normal;
  font-size: 26px;
  line-height: 1.5;
  letter-spacing: 1px;
  color: $main-text;
  text-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  @media (min-width: 1280px) {
    font-size: 32px;
  }
}

.login {
  display: none;
  @media (min-width: 1280px) {
    display: block;
    font-family: $main-font;
    font-style: normal;
    font-size: 24px;
    line-height: 1.5;
    letter-spacing: 1px;
    color: $main-text;

    text-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  }
}

.footer {
  height: 40px;

  color: $main-text;
  display: flex;
  align-items: center;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.footerWrapper {
  display: flex;
  justify-content: center;
}

.footerText {
  margin-right: 10px;

  font-size: 14px;
  letter-spacing: 1px;
}
