@import "../../styles/colors.scss";
@import "../../styles/variables.scss";

.linkContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.link {
  text-decoration: none;
  color: $main-text;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.5px;
  @media (min-width: 1280px) {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 1px;
  }
}

.active {
  text-decoration: none;
  color: $main-text;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.5px;

  border-bottom: 3px solid $main-text;
  border-radius: 2px;
  @media (min-width: 1280px) {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 1px;
  }
}
