@import "../../styles/colors.scss";
@import "../../styles/variables.scss";

.button {
  margin-bottom: 20px;
  padding: 5px 15px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: $white;
  border-radius: 5px;
  display: block;
  border: 0px;
  box-shadow: 0px 0px 14px -7px $main-text;
  background-color: $main-text;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button:hover {
  background-position: right center;

  color: $add-text;
  text-decoration: none;
}

.button:active {
  transform: scale(0.95);
}
