@import "../../styles/colors.scss";
@import "../../styles/variables.scss";

.searchBar {
  position: absolute;
  z-index: 445;
  top: 100px;
  right: 140px;
}

.searchForm {
  width: fit-content;
  height: fit-content;
  position: relative;
}

.searchFormInput {
  height: 42px;
  width: 42px;
  border-style: none;

  font-size: 18px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 25px;
  transition: all 0.5s ease-in-out;
  background-color: #484a4dc9;
  padding-right: 40px;
  color: $white;
  box-shadow: $secondary-box-shadow;
}
.searchFormInput::placeholder {
  font-size: 18px;
  letter-spacing: 2px;

  color: $white;
}
.searchFormButton {
  width: 42px;
  height: 42px;
  border-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  color: $white;
  background-color: transparent;
  pointer-events: painted;

  &:hover svg,
  &:focus svg {
    color: $hover-color;
  }

  svg {
    width: 25px;
    height: 25px;
    transition: color 250ms $cubic;
  }
}
.searchFormButton:focus ~ .searchFormInput {
  width: 300px;
  border-radius: 0px;
  background-color: #484a4daf;
  padding-left: 10px;
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}
.searchFormInput:focus {
  width: 300px;
  border-radius: 0px;
  background-color: #484a4daf;
  padding-left: 10px;

  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}
