.searchBox {
  position: relative;
}
.search {
  height: 15px;
  width: 15px;
  background-color: #fff;
  border: 0;
  border-radius: 50%;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15);
  cursor: pointer;
  color: #fff;
  outline: none;
  padding: 5px;
  position: relative;
  transition: all 150ms cubic-bezier(0.2, 0.6, 0.252, 1.2);
}
.search ~ .bar {
  height: 4px;
  width: 15px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15);
  position: absolute;
  display: block;
  opacity: 1;
  right: -9px;
  top: 24px;
  transform: rotate(45deg);
  transition: opacity 150ms ease;
}
.search::-moz-placeholder {
  color: #fff;
}
.search:-ms-input-placeholder {
  color: #fff;
}
.search::placeholder {
  color: #fff;
}
.search:focus {
  height: 25px;
  width: 200px;
  border-radius: 3px;
  color: #26547c;
  cursor: initial;
}
.search:focus::-moz-placeholder {
  color: #a1a1a1;
}
.search:focus:-ms-input-placeholder {
  color: #a1a1a1;
}
.search:focus::placeholder {
  color: #a1a1a1;
}
.search:focus ~ .bar {
  box-shadow: none;
  opacity: 0;
  right: 0;
  top: 5px;
}
