@import "../../styles/colors.scss";
@import "../../styles/variables.scss";

.searchForm {
  display: flex;
  align-items: center;
  width: 230px;
  background-color: $white;
  border-radius: 3px;
  overflow: hidden;
  margin-right: 60px;

  box-shadow: $main-text 0px 2px 8px;
}

.searchFormButton {
  display: inline-block;
  width: 35px;
  height: 35px;
  border: 0;

  opacity: 0.6;
  transition: opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  outline: none;
  &:hover {
    opacity: 1;
  }
}

.searchFormButtonLabel {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  clip-path: inset(50%);
  border: 0;
}

.searchFormInput {
  display: inline-block;
  width: 100%;
  border: none;
  outline: none;
  padding-left: 4px;
}
