.wrapper {
  display: flex;
  margin-bottom: 30px;
}

.form {
  position: relative;
}
.form .search {
  height: 10px;
  width: 10px;
  background-color: #fff;
  border: 0;
  border-radius: 50%;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15);
  cursor: pointer;
  color: #fff;
  outline: none;
  padding: 5px;
  position: relative;
  transition: all 150ms cubic-bezier(0.2, 0.6, 0.252, 1.2);
}
.form .search ~ .bar {
  height: 2px;
  width: 10px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15);
  position: absolute;
  display: block;
  opacity: 1;
  right: -5px;
  top: 22px;
  transform: rotate(45deg);
  transition: opacity 150ms ease;
}
.form .search::-moz-placeholder {
  color: #fff;
}
.form .search:-ms-input-placeholder {
  color: #fff;
}
.form .search::placeholder {
  color: #fff;
}
.form .search:focus {
  height: 20px;
  width: 200px;
  border-radius: 3px;
  color: #26547c;
  cursor: initial;
}
.form .search:focus::-moz-placeholder {
  color: #a1a1a1;
}
.form .search:focus:-ms-input-placeholder {
  color: #a1a1a1;
}
.form .search:focus::placeholder {
  color: #a1a1a1;
}
.form .search:focus ~ .bar {
  box-shadow: none;
  opacity: 0;
  right: 0;
  top: 5px;
}
