@import "../../styles/variables.scss";

.iframe {
  width: 310px;
  height: 240px;
  @media (min-width: $tablet) and (max-width: $max-tablet) {
    width: 760px;
    height: 576px;
  }
  @media (min-width: $desktop) {
    width: 960px;
    height: 540px;
  }
}
