@import "../../styles/colors.scss";
@import "../../styles/variables.scss";

.overlay {
  width: 50px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover .dropdown {
    display: block;
  }
}

.link {
  width: 42px;
  height: 42px;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: #484a4d;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter 300ms;
  color: $main-text;

  transition: filter 250ms $cubic;

  &:hover {
    filter: brightness(1.3);
  }

  &:hover svg {
    color: $hover-color;
  }

  svg {
    width: 20px;
    height: 20px;
    transition: color 250ms $cubic;
  }
}
